.app {
    text-align: left;
    border: 1px solid black;
    padding: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.root {
    height: 100vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 40vmin;
}

.comment {
    padding-left: 5rem;
}

.commentsContainer {
    width: 60%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: left;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logoSpin infinite 20s linear;
    }
}

.header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.link {
    color: #61dafb;
}

@keyframes logoSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}